$bg-body: #f0e4d7;
$bg-color: #1a1a2e;

$primary: #ff7171;
$secondary: #e94560;
$tritary: #845ec2;
$rose: #ff4b5c;
$black: #000000;
$black-100: #16213e;
$white: #ffffff;

$green: #41ad16;
$grey-100: #585858;
$grey-200: #989898;
$green-100: #b2e19f;
$green-200: #8cd171;
