.dropdown {
  position: relative;
  .btn {
    svg {
      margin-left: 5px;
    }
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 220px;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background: $white;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba($black, 0.2);
    opacity: 0;
    visibility: hidden;

    &.show {
      visibility: visible;
      animation: popfade 0.3s ease forwards;
      transform-origin: 0 0;
    }

    li {
      transition: 0.2s ease-in-out;
      border-radius: 10px;

      &:hover {
        background-color: rgba($green, 0.2);
      }
    }

    a {
      padding: 11px 15px;
      display: block;
    }
  }
}
