.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      flex: 0 0 100%;
      max-width: 100%;
    }

    a {
      padding: 10px 15px;
      font-size: 18px;
      font-weight: 600;
      display: inline-flex;
      align-items: center;

      svg {
        margin-right: 6px;
      }
    }
  }
}
